/* Base container styles */
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Styles for project images */
.container img {
  width: 250px; /* Fixed width */
  height: 301px; /* Fixed height */
  align-self: center;
  background-color: var(--project-card-bg);
  border-radius: 20px;
  object-fit: cover; /* Ensures the image is resized and cropped to fit the dimensions */
}

/* Styles for links */
.container a {
  width: fit-content;
  text-decoration: none;
  color: #222;
  transition: transform 200ms ease-in-out;
}

/* Hover effect for links */
.container a:hover {
  transform: scale(1.05);
}

/* Container for projects */
.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0 30px;
}
